<h2> {{student.first_name}}'s Clasees</h2>
{{#if student.classes}}
<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Class ID</th>
      <th>Class Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each student.classes}}
      <tr>
          <td>{{class_id}}</td>
          <td>{{class_title}}</td>
          <td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
    <p>You are not registered for any classes!</p>
{{/if}}