extends layout

block content
  h2 Browse doctors
  br
  ul.docs
    if doctors != false 
      each doctor, i in doctors   
        li
          h3 #{doctor.full_name}
          p Speciality: #{doctor.category}
          p Location: #{doctor.city} #{doctor.state}, #{doctor.zip}
          p 
            a(href='/doctors/details/#{doctor.doc_id}') &gt; Details
    else
      p Sorry no doctors listed