<h2> {{instructor.first_name}}'s Clasees</h2>

<table cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Class ID</th>
      <th>Class Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each instructor.classes}}
      <tr>
          <td>{{class_id}}</td>
          <td>{{class_title}}</td>
          <td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
          <td><a href="/instructors/classes/{{class_id}}/lessons/new">Add Lesson</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>